.grid-container {
  margin: 20px;
}

.carregando-spinner {
  display: flex;
  align-items: denter;
  justify-content: center;
  margin-top: 150px;
  height: 100%;
}

.adicionar{
  margin-top: 15px;
  padding-bottom: 15px;
}

.icones{
  margin-top: 15px;
}
